@import url('https://fonts.googleapis.com/css?family=Raleway:300,500,700i');

.navbar-start {
    justify-content: flex-start;
    margin-left: auto;
    margin-right: 0px;
}

nav {
    background-color: rgba(34, 32, 42, 0.4);
    display: flex;
    justify-content: space-between;
    padding: 0px 81px;
}

.burger span {
    color: #F5FEFF;
}

nav h1 {
    height: 36px;
    text-shadow: 1px 2px 1px rgba(34, 32, 42, 0.3);
    color: #ADDDE8;
    font-size: 60px;
    line-height: 36px;
    display: block;
}

.content h1:not(:first-child) {
    margin-top: 0em;
}

a.navbar-item:hover {
    background-color: inherit;
}

#DropActive {
    padding: 10px;
    min-height: 200px;
    overflow: none !important;
    background-color: rgba(34, 32, 42);
    box-shadow: 3px 6px 4px rgba(34, 32, 42, 0.8);
}

.logo, .logout {
    margin-top: 1px;
    display: block;
    height: 45px;
    background-color: inherit;
    border: none;
    padding: 0px;
    cursor: pointer;
    border: none;
    outline:none;
}

.logo {
    margin-top: 2px;
}

.navbar {
    background-color: rgba(34, 32, 42, 0.4);
}

.dropdown-menu {
    min-width: 7rem;
}

.dropdown-content {
    background-color: rgba(34, 32, 42);
    padding: 7px;
    box-shadow: 3px 6px 4px rgba(34, 32, 42);
}

.dropdown-menu a {
    text-decoration: none;
    font-weight: 500;
    color: #E05344;
    font-family: Raleway;
    text-shadow: 1px 2px 1px rgba(34, 32, 42, 0.3);
}



