#columns {
    margin-top: 0px;
}

#column {
    flex-basis: 1;
}

.Home {
    margin-top: 0.75rem;
}

.sidebar {
    background-color: rgba(0, 0, 0, 0.2);
}

.main {
    width: 80%;;
}

.Home h3 {
    text-shadow: 4px 3px 1px #fffed78e;
    color: #585858;
}
