.welcome {
    background-image: url("Contact_section_BG.png");
    width: 450px;
    height: 300px;
    margin: 0 auto;
    padding: 30px 100px;
    display: none;
}

.welcome h2,
.welcome h3 {
    /* margin-top: 50px;    */
    text-shadow: 1.5px 1.5px 0 #f6edd8;
    color: #f6edd8;
    font-family: Bazar;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.welcome h2 {
    font-size: 2em;
}

.welcome #line {
    text-align: center;
    color: #f6edd8;
    font-family: "Roboto Slab";
    font-size: 24px;
    font-weight: 400;
    line-height: 22px;
}

.welcome .button {
    color: #383a3c;
    font-family: "Roboto Slab";
    display: block;
    margin: 15px;
    width: 230px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}