#root {
    padding: 0px;
}

.Welcome {
    width: 100%;
    padding: 182px 0px;
}

.welcome {
    background-image: url("Contact_section_BG.png");
    width: 660px;
    padding: 50px 75px;
    color: #fff;
    border: 10px solid #fffed7;
    border-radius: 15px;
	background: linear-gradient(-45deg, rgba(238, 118, 82, 0.7), rgba(231, 60, 126, 0.7), rgba(35, 165, 213, 0.7), rgba(35, 213, 171, 0.7));
	background-size: 150% 150%;
	-webkit-animation: Gradient 20s ease infinite;
	-moz-animation: Gradient 20s ease infinite;
    animation: Gradient 20s ease infinite;
    margin: 0 auto;
}

.welcome h2,
.welcome h3 {
    /* margin-top: 50px;    */
    text-shadow: 0.5px 0.5px 0 #f6edd8;
    color: #ADDDE8;
    font-family: Raleway;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    text-align: center;
}

.welcome h2 {
    font-size: 2em;
}

.welcome .button {
    color: #383a3c;
    font-family: "Raleway";
    display: block;
    margin: 10px auto;
    width: 230px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
} 